#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 1280px;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 3px solid rgb(28, 151, 94);
}

td {
  border-bottom: 1px solid #dddddd;
  padding: 8px 30px;
  text-align: left;
}

th {
  background-color:rgb(28, 151, 94);
  color: white;
  padding: 8px 30px;
  text-align: left;
}

.cp{
  background-color:rgb(28, 151, 94);
  padding: 8px 16px;
  width: fit-content;
  border-radius: 5px;
}

.buttons{
  color:white;
  display: flex;
  justify-content: center;
  gap: 20px; 
}

button{
  background-color: rgb(28, 151, 94);
  color: white;
  border-radius: 5px;

}

button[disabled]{
  background-color: rgb(79, 185, 135);
  color: #dddddd
}